<% include _header %>
<h1>Welcome to Ushenzi where you can share your corruption story</h1>
<% users.forEach(function(user) { %>
  <% if (user.bio) { %>
<div class="panel panel-default">
<div class="panel-heading">
<a href="/users/<%= user.username %>">
<%= user.name() %>
</a>
</div>
<div class="panel-body"><%= user.bio %></div>
<% } %>
</div>
<% }) %>
<% include _footer %>
